---
export const prerender = true;

import StickyNavbar from "@/components/StickyNavbar.astro";
import SocialProof from "@/components/social-proof";
import Layout from "@/layouts/Landing.astro";
import Analytics from "@/sections/Analytics.astro";
import BillTracking from "@/sections/BillTracking.astro";
import Budgeting from "@/sections/Budgeting.astro";
import Comparison from "@/sections/Comparison.astro";
import CTA from "@/sections/CTA.astro";
import Footer from "@/sections/Footer.astro";
import Hero from "@/sections/Hero.astro";
import OpenSourceShowcase from "@/sections/OpenSourceShowcase.astro";
import Showcase from "@/sections/Showcase.astro";
import Workspaces from "@/sections/Workspaces.astro";
---

<Layout>
   <div class="flex flex-col">
      <StickyNavbar />
      <Hero />
      <Showcase />
      <BillTracking />
      <Workspaces />
      <Budgeting />
      <Analytics />
      <OpenSourceShowcase />
      <Comparison />
      <CTA />
      <SocialProof client:visible />
      <Footer />
   </div>
</Layout>
