---
export const prerender = true;

import { Separator } from "@packages/ui/components/separator";
import CTA from "@/components/CTA.astro";
import Footer from "@/components/Footer.astro";
import StickyNavbar from "@/components/StickyNavbar.astro";
import Layout from "@/layouts/Landing.astro";
import Hero from "@/sections/home/HomeHero.astro";
import ProblemComplexERPs from "@/sections/home/ProblemComplexERPs.astro";
import ProblemDisconnectedTools from "@/sections/home/ProblemDisconnectedTools.astro";
import ProblemManualWork from "@/sections/home/ProblemManualWork.astro";
import ProblemNoVisibility from "@/sections/home/ProblemNoVisibility.astro";
---

<Layout>
   <div class="flex flex-col">
      <StickyNavbar />
      <Hero />
      <Separator className="bg-gradient-to-r from-transparent via-primary/20 to-transparent"/>
      <ProblemManualWork />
      <Separator className="bg-gradient-to-r from-transparent via-primary/20 to-transparent"/>
      <ProblemDisconnectedTools />
      <Separator className="bg-gradient-to-r from-transparent via-primary/20 to-transparent"/>
      <ProblemNoVisibility />
      <Separator className="bg-gradient-to-r from-transparent via-primary/20 to-transparent"/>
      <ProblemComplexERPs />
      <Separator className="bg-gradient-to-r from-transparent via-primary/20 to-transparent"/>
      <CTA title={["Suas finanças", "Sob controle total"]} buttonText="Começar Grátis" />
      <Footer />
   </div>
</Layout>
